<!-- File ./templates/index.html  -->
<!-- python app.py to start app  -->
<!-- npm run buildcss to build css  -->
<!-- git add . / git commit =m 'komentarz' / git push origin main  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>NameGen</title>
</head>

<body>
    <div class="bg-blue-600">
        Tu będzie top navbar
    </div>
    <div>
        <form action="/generate" method="post">
            <label for="race">Select Race:</label>
            <select id="race" name="race">
                <option value="Dwarf">Dwarf</option>
                <option value="Elf">Elf</option>
                <option value="Human">Human</option>
                <option value="Lizardfolk">Lizardfolk</option>
            </select>
            <label for="gender">Select Gender:</label>
            <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit"
                value="Generuj">
        </form>
    </div>

    <div>
        <ul>
            {% for i in range(10) %}
            <li>
                {{list[i]}}
            </li>
            {% endfor %}
        </ul>


    </div>
</body>

</html>