<!doctype html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <style>
        :root {
            color-scheme: dark;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body class="bg-indigo-900 font-sans relative">
    <div id="nav" class="bg-indigo-950 text-white h-28 flex items-center drop-shadow-xl">
        {% block nav %}
        <h1 class="text-amber-500 text-5xl font-bold mx-5">
            NameGen
        </h1>
        <div class="mt-5">
            {%for site in sites%}
            <a class='inline-block group mx-1 sm:mx-4 text-amber-500 font-semibold text-lg transition-all duration-300 rounded-lg
            {% if site == currentSite %}
              text-indigo-200
            {% else %}
             hover:text-indigo-200
            {% endif %}' href="{{ url_for(site|lower) }}">
                {{ site }}
                <span
                    class="block max-w-0 {% if site == currentSite %}max-w-full{% else %}group-hover:max-w-full{% endif %} transition-all duration-500 h-0.5 bg-indigo-200"></span>
            </a>
            {%endfor%}
        </div>

        {%endblock %}
    </div>

    <div id="content" class="bg-indigo-900 text-white block h-fit">{% block content1 %}{% endblock %}</div>
    <div id="result" class="bg-indigo-900 text-white block h-4/5 pb-6">{% block content2 %}{% endblock %}</div>

    <div id="footer" class="bg-indigo-700 text-white text-center absolute bottom-0 w-full">
        {% block footer %}
        <p class="pt-4 pb-2">Copyright {{currentYear}} by Piotr Dąbrowski.</p>
        <p class="pb-2 text-amber-500 underline"><a href="https://github.com/Varatan/LicencjatAI">Github</a></p>
        {% endblock %}
    </div>
    {% block scripts %}

    {% endblock %}
</body>

</html>