<!doctype html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <style>
        :root {
            color-scheme: dark;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body class="bg-indigo-700 font-sans">
    <div id="nav" class="bg-indigo-950 text-white h-28 flex items-center drop-shadow-xl">
        {% block nav %}
        <h1 class="text-amber-500 text-5xl font-bold mx-5">
            NameGen
        </h1>
        {%endblock %}
    </div>

    <div id="content" class="bg-indigo-900 text-white h-screen ">{% block content %}{% endblock %}</div>

    <div id="footer" class="bg-indigo-700 text-white">
        {% block footer %}
        Copyright 2010 by Piotr Dąbrowski.
        {% endblock %}
    </div>
    {% block scripts %}

    {% endblock %}
</body>

</html>